/* Import Tailwind's base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities Layer */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-blink {
    animation: blink 3s infinite;
  }
}

/* Custom Base Layer */
@layer base {
  html {
    @apply scroll-smooth;
  }
}

/* Keyframes */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Custom Styles */
.gradient-bg {
  background: rgb(31, 31, 31);
  background: radial-gradient(
    circle,
    rgba(31, 31, 31, 1) 3%,
    rgba(0, 0, 0, 1) 100%
  );
}

.glow-effect-image {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.glow-effect-text {
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 12px rgba(255, 255, 255, 0.5);
}

.glow-overlay {
  --glow-size: 25rem;
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}

.dot-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  z-index: -1;
}