@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.gradient-bg {
  background: rgb(31, 31, 31);
  background: radial-gradient(
    circle,
    rgba(31, 31, 31, 1) 3%,
    rgba(0, 0, 0, 1) 100%
  );
}

.glow-overlay {
  --glow-size: 25rem;
  position: absolute;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  transition: 400ms mask ease;
  will-change: mask;
}
